/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keybind.h>

/ {
    input_processors {
        zip_keybind_keys: zip_keybind_keys {
            compatible = "zmk,input-processor-direction-keybind";
            bindings = <&kp RIGHT>, <&kp LEFT>, <&kp UP>, <&kp DOWN>;
            tap-ms = <30>;
            wait-ms = <15>;
            tick = <10>;
        };
    };
};


